# PowerShell-generated
*.ps1~
*.psm1~
*.psd1~
*.log
*.tmp

# Tools
/tools/*.exe

# Downloads (ignora tudo, mas mantém a pasta)
/downloads/*
!/downloads/.gitkeep

# Cookies (ignora tudo, mas mantém a pasta)
/cookies/*
!/cookies/.gitkeep

# Logs (ignora tudo, mas mantém a pasta)
/logs/*
!/logs/.gitkeep

# Output files
*.mp4
*.mkv
*.webm
*.part
*.ytdl